*,
:after,
:before {
  box-sizing: border-box;
}

.app {
  width: 760px;
  margin: 0 auto;
  padding: 80px 0;
}

input {
  margin: 0;
}

.form {
  position: relative;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
}

.form-control ::selection {
  background: none;
}
/* For Mozilla Firefox */
.form-control::-moz-selection {
  background: none;
}

.form-control:focus {
  outline: 0;
  border-color: #e63946;
}

.form-control__box {
  position: absolute;
  z-index: 1000;
  max-height: 250px;
  width: 100%;
  overflow: auto;
  padding: 8px 0;
  margin-top: 4px;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.form-control__item {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.form-control__item[data-focus='true'] {
  background-color: #e63946;
  color: #fff;
  cursor: pointer;
}
